<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Global Admin Dashboard</h2>
    <p>Welcome, <%= session.user.name %></p>
    <a href="/exams/create">Create Exam</a><br />
    <a href="/exams">View Exams</a><br />
    <a href="/classrooms/create">Create Classroom</a><br />
    <a href="/classrooms">View Classrooms</a>
  </body>
</html>
