<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
    <link rel="stylesheet" href="/css/contact.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="contact-container">
      <h1>Contact</h1>

      <p>
        For access issues, exam-related queries, or system support, please
        contact the Global Administrator.
      </p>

      <p class="contact-email"><b>Email:</b> <%= adminEmail %></p>
    </div>
  </body>
</html>
