<!DOCTYPE html>
<html>
  <head>
    <title>benchWalaAi</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>benchWalaAi</h1>
    <p>Exam Navigation System</p>
  </body>
</html>
