<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>My Exams</h2>

    <ul>
      <% exams.forEach(exam => { %>
      <li>
        <a href="/student/exams/<%= exam.id %>">
          <%= exam.title %> - <%= exam.exam_date %> (<%= exam.session %>)
        </a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
